body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;


}
nav{
    background-color: black;
    color: white;
    padding:20px 50px ;



}
.navTop{
    display: flex;
   justify-content: space-between;
   
    align-items: center;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 20px 50px;
    border-radius: 10px;


}

.searchInput{
    border: none;
    background-color: transparent;
}